/* Barra general */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}
/* Logo con el nombre e icono */
.navbar-logo {
  justify-self: start;
  margin-left: 10vh;
  cursor: pointer;
}
.menu-icon {
  margin-right: 10vh;
  cursor: pointer;
}
.menu-icon i {
  padding: 1vh 2vh;
}
.fas.fa-moon {
  color: #FAFAFA;
}
